<!DOCTYPE html>
<html>

<head>
    <title>GPS Tracker - Mapa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ol.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/libs/ol.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
</head>

<body class="full_height">
    <div class="full_height">
        <div class="padding_10"></div>
        <select id="devices">
        </select>
        <div class="padding_10"></div>
        <div id="map" class="map full_height">
            <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        </div>
    </div>
</body>

</html>