<title>GPS Tracker - Mapa</title>
<iframe width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=466aca4a-5963-4f2c-945a-01acd015cdfd&autoAuth=true&ctid=7578369e-cf61-4440-9a92-8c8c6e54bf71&isMobile=true&rs:Command=Render&rc:Toolbar=false&rs:embed=true&filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>    

<!--<!DOCTYPE html>
<html lang="es" width="100%" height="100%">
<head>
    <meta charset="UTF-8">
    <title>GPS Tracker - Mapa</title>
</head>
<body width="100%" height="100%" >
    <iframe width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=466aca4a-5963-4f2c-945a-01acd015cdfd&autoAuth=true&ctid=7578369e-cf61-4440-9a92-8c8c6e54bf71&isMobile=true&rs:Command=Render&rc:Toolbar=false&rs:embed=true&filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>    
</body>
</html>
-->